/* You can add global styles to this file, and also import other style files */
*{
    font-family: monospace;
}

.title
{
    text-align: center;
    margin:10px;
} 
.navTitle
{
    color: white !important;
}