.dashboard-wrapper
{
    margin: 20px;   
    text-align: center; 
}

.date-container
{
    /* text-align: center;
    margin: 10 px; */

}
.data-container
{   
    display: inline-block;
    padding: 8px;
    border: 1px solid black;
    margin: 20px;
}
